<.header>
  Edit Trade {@trade.id}
  <:subtitle>Use this form to manage trade records in your database.</:subtitle>
</.header>

<.trade_form changeset={@changeset} action={~p"/trades/#{@trade}"} />

<.back navigate={~p"/trades"}>Back to trades</.back>
