<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:collector_card_number]} type="text" label="Collector card number" />
  <.input field={f[:sort_code]} type="text" label="Sort code" />
  <:actions>
    <.button>Save Card</.button>
  </:actions>
</.simple_form>
