<.header>
  New Card
  <:subtitle>Use this form to manage card records in your database.</:subtitle>
</.header>

<.card_form changeset={@changeset} action={~p"/cards"} />

<.back navigate={~p"/cards"}>Back to cards</.back>
